# BotFather orqali olingan token
BOT_TOKEN=8780699590:AAEUaym_xk-h2pGL7q_VfBy0Xl_gBSoMeDw

# Asosiy super-admin Telegram ID raqami
SUPER_ADMIN_ID=8462446411

# Nechta ogohlantirishdan keyin mute qilinsin (default: 3)
MAX_WARNINGS=3

# Ma'lumotlar bazasi turi (sqlite yoki postgresql)
# SQLite uchun: sqlite+aiosqlite:///data/bot_database.sqlite
# PostgreSQL uchun (Docker ishlatilsa host 'db' bo'ladi):
DB_URL=postgresql+asyncpg://oxun_bot_user:password@db/oxun_bot_db

# Mute qilish muddati (soatlarda, default: 168 = 7 kun)
MUTE_DURATION_HOURS=168